<% include ../partials/header.ejs %>
<div class="companyTitle"><b><h1>COMPANY NAME</h1></b></div>
<div class="container" style="border:3px black solid; padding:5%; box-shadow: 10px 10px 8px #888888;">
        <!-- ------------------------navigation bar--------------------------- -->



        <div class="nav nav-pills nav-fills sticky-top navbar-container justify-content-end" style="padding: 2%; background-color: #ddccff;">
            <li class="nav-item">
                <a class="nav-link " href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#docs">Startup Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tracking">Milestone Tracking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </div>

        <!-- ---------------------company logo----------------------------- -->



                    <h3>Company Information</h3>
                    <hr>
                    <div>Name of the Entity: <%= startup.entity %></div>
                    <div>Buisiness Type: <%= startup.busi_type %></div>
                    <div>Nature of Entity:  <%= startup.nature %></div>
                    <div>Industry Sector:  <%= startup.indus_sec %></div>
                    <div>Establishment Year:  <%= startup.establish_year %></div>
                    <div>Number of Employees: <%= startup.employee_no %></div>
                    <div>Website: <%= startup.website %></div>
                    <hr>
                    <h4>Financial Details</h4>
                    <hr>
                    <div>Annual Sales: <%= startup.annualSales %></div>
                    <div>Gross Income: <%= startup.grossIncome %></div>
                    <div>Rentals: <%= startup.rentals %></div>
                    <hr>
                    <h4>Director/CEO/Owner Information</h4>
                    <hr>
                    <div>Name: <%= startup.oName %></div>
                    <div>Email ID: <%= startup.oEmail %></div>
                    <div>Designation: <%= startup.odesignation %></div>
                    <h4>Buisiness Plan</h4>
                    <div>Comapany Stage: </div>

        </div>

        <!-- ---------------------company documents--------------------------- -->
        <div class="row" style="padding: 15%" id="docs">
            <h3>Company Documents</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, consequuntur laboriosam aut numquam repudiandae suscipit, ipsa nam cum perspiciatis adipisci nulla aspernatur atque voluptas nihil error aliquid? Tempore, porro sequi?</p>
        </div>

        <!-- ---------------------milestone tracking--------------------------- -->
        <div class="container" id="tracking" style="padding: 15%">
            <h3>MILESTONE TRACKING</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium deleniti labore harum libero culpa repellendus ipsum ad optio hic odit officia earum enim sit, magnam mollitia illo blanditiis molestiae.</p>
        </div>

        <!-- -----------------------contact-------------------------------------- -->
        <div class="container" id="contact" style="padding: 15%">
                <h3>CONTACT</h3>
            <div class="row">
                <div class="col-md-5">
                        <div class="container" style="padding: 8%; padding-left: 0%">
                                <a href="#" class="fa fa-facebook">Faceebook</a>
                                <a href="#" class="fa fa-linkedin">LinkedIn</a>
                                <a href="#" class="fa fa-twitter">Twitter</a>
                            </div>
                </div>
                <div class="col-md-6">
                    <div class="container" style="text-align: right;">
                        <h5 ><u>Address</u></h5>
                            city: <br>
                            pincode:
                    </div>
                </div>
            </div>



        </div>

    </div>

    <% include ../partials/footer.ejs %>
