<% include ../partials/header.ejs %>

<div class="container">

  <h2><%= investor.ad_headline %></h2>



  <div class="row" style="border:3px black solid; padding:5%; box-shadow: 10px 10px 8px #888888;">
<div class="col-sm-7">



<div class="shrt-desc tp-border Platinum">
      <!-- <div class="investor-tag" >
        <img src="https://i.ytimg.com/vi/xgULq4ZmXg8/maxresdefault.jpg" alt="Investor-Tag" style="width:100px;height:40px;">
      </div> -->
  </div>
<h4><b>Name, Mobile, Company Logo, Profile Picture, Email</b></h4>
<p><i class="fas fa-lock" style="color: blue"></i> Available after Interaction</p><br>
<!-- <h4><b>Location :</b></h4><br> -->
<h4>
  <b>Investor type : </b><%= investor.inv_type %>   |  <i class="fa fa-map-marker" style="color: blue"></i> <%= investor.loc %>, India
</h4><br>
<h4><b>Designation :</b> Owner</h4><br>
<h4><b>Company Name :</b>     <%= investor.name %></h4><br>
<h4><b>Professional Summary  : </b><br><%= investor.intro %></h4><br>
<h4><b> Investment capacity :  </b><%= investor.invcap %></h4><br>


</div>
<div class="col-sm-4" style="background-color:lavenderblush;">

<div class="container">
<h2 style="padding-left:8%">Contact Investor</h2><br>

<div class="form group row">
<div class="col-sm-2">
  <label>Designation :<font color="red">*</font> :</label></div>
  <div class="col-sm-2">
  <input type="text" name="user" class="form-control" id="user"></div>
  </div>
  <br>
<div class="form group row">
  <div class="col-sm-2">
    <label>Mobile:<font color="red">*</font> :</label></div>
    <div class="col-sm-2">
    <input type="text" name="user" class="form-control" id="user"></div>
    </div>  <br>
    <div class="form group row">
    <div class="col-sm-2">
      <label>Email :<font color="red">*</font> :</label></div>
      <div class="col-sm-2">
      <input type="text" name="user" class="form-control" id="user"></div>
      </div>  <br>
      <div class="form group row">
      <div class="col-sm-2">
        <label>Company :<font color="red">*</font> :</label></div>
        <div class="col-sm-2">
        <input type="text" name="user" class="form-control" id="user"></div>
        </div>  <br>
        <div class="form group row">
        <div class="col-sm-2">
          <label>Investment Type:<font color="red">*</font> :</label></div>
          <div class="col-sm-2">
          <input type="text" name="user" class="form-control" id="user"></div>
          </div>  <br>
          <div class="form group row">
          <div class="col-sm-2">
            <label>Profile Type :<font color="red">*</font> :</label></div>
            <div class="col-sm-2">
            <input type="text" name="user" class="form-control" id="user"></div>
            </div>  <br>
            <input type="text" class="text-center" placeholder="comment" style="width: 375px; height:100px;">
            <br><br>
    <input type="submit" name="submit" value="Contact Investor" style="padding-left:8%; padding-right:8%" class="btn btn-primary btn-l

</div>
</div>
</div>


</div>
<% include ../partials/footer.ejs %>
