<% include ../partials/header.ejs %>

<div class="container">





  <div class="row">
      <div class="col-sm-7" style="border:0px; box-shadow: 10px 10px 8px #888888;">
<h2><%= investor.ad_headline %></h2>

<hr>


<h4><b>Name, Mobile, Company Logo, Profile Picture, Email</b></h4>
<p><i class="fas fa-lock" style="color: blue"></i> Available after Interaction</p><br>
<!-- <h4><b>Location :</b></h4><br> -->
<h4>
  <b>Investor type : </b><%= investor.inv_type %>   |  <i class="fa fa-map-marker" style="color: blue"></i> <%= investor.loc %>, India
</h4><br>
<h4><b>Designation :</b> Owner</h4><br>
<h4><b>Company Name :</b>     <%= investor.name %></h4><br>
<h4><b>Professional Summary  : </b><br><%= investor.intro %></h4><br>
<h4><b> Investment capacity :  </b><%= investor.invcap %></h4><br>


</div>
<div class="col-sm-4" style="background-color:Azure; margin-left:10px;">
  <div class="container">
    <h2 style="padding-left:4%"><b>Contact Investors</b></h2><br>

    <div class="form group row">
    <div class="col-sm-1">
      <label>Designation:</label></div>
      <div class="col-sm-2">
      <input type="text" name="user" class="form-control" id="user"></div>
      </div>
      <br>
    <div class="form group row">
      <div class="col-sm-1">
        <label>Mobile:</label></div>
        <div class="col-sm-2">
        <input type="text" name="user" class="form-control" id="user"></div>
        </div>  <br>
        <div class="form group row">
        <div class="col-sm-1">
          <label>Email:</label></div>
          <div class="col-sm-2">
          <input type="text" name="user" class="form-control" id="user"></div>
          </div>  <br>
          <div class="form group row">
          <div class="col-sm-1">
            <label>Company:</label></div>
            <div class="col-sm-2">
            <input type="text" name="user" class="form-control" id="user"></div>
            </div>  <br>
            <div class="form group row">
            <div class="col-sm-1">
              <label>Investment Type:</label></div>
              <div class="col-sm-2">
              <input type="text" name="user" class="form-control" id="user"></div>
              </div>  <br>
              <div class="form group row">
              <div class="col-sm-1">
                <label>Profile Type:</label></div>
                <div class="col-sm-2">
                <input type="text" name="user" class="form-control" id="user"></div>
                </div>  <br>
                <input type="text" class="text-center" placeholder="comment" style="width: 325px; height:100px;">
                <br><br>
                <input type="submit" name="submit" value="Contact Investor" style="padding-left:8%; padding-right:10%;" class="btn btn-primary btn-lg text-center"><br>

</div>
</div>
</div>


</div>
<% include ../partials/footer.ejs %>
